body {
background: linear-gradient(to right,violet, rgb(255,218,185)) ;
}


.image {
     background-image: url("image/Logo osito.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     height: 150px;
     width: 150px;
     color: #000000;
     margin-right: 50px;
   
   }

.image {
    align-self: flex-start;
}

.image { 
  width: 120;
  height: 120px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}


.contein-0 {
    max-width: 1200px;
    margin: 0 auto;      
}

.contein {
   min-height: 80px;
   background: #FF69B4;
   padding: 25px; 
   margin-top: 55px;         
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LaPasteleria {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

  .menu .navbar ul li {
    position: relative;
    float:left;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #DEDEDE; 
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #ffffff;
}

#menu {
  display: none;
}

.menu-icono {
    width: 25px;
}


  .pra {
    text-align: center;
    padding: 25px; 
    margin-top: 45px;
  }

  



  .conteiner {
    display: flex;
    justify-content: center;
    margin-top: 135px;
}


.cak-0 { 
margin-bottom: 35px;
}

.cak-0 {
width: 190;
height: 190px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.cak-0 {
text-align: center;
}


.centra-1 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.cak-1 { 
margin-bottom: 35px;
}

.cak-1 {
width: 190;
height: 190px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.cak-1 {
text-align: center;
}


.centra-2 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.cak-2 { 
margin-bottom: 35px;
}

.cak-2 {
width: 190;
height: 190px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.cak-2 {
text-align: center;
}


.centra-3 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.cak-3 { 
margin-bottom: 35px;
}

.cak-3 {
width: 190;
height: 190px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.cak-3 {
text-align: center;
}

.centra-4 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.cak-4 { 
margin-bottom: 35px;
}

.cak-4 {
width: 190;
height: 190px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.cak-4 {
text-align: center;
}


.img {
margin-bottom: 35px;
width: 170;
height: 170px;
border-radius: 50%;
margin-left: 25px;

}

.cont-0 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.dec-0 { 
margin-bottom: 35px;
}

.dec-0 {
width: 160;
height: 160px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.dec-0 {
text-align: center;
}

.cont-1 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.dec-1 { 
margin-bottom: 35px;
}

.dec-1 {
width: 160;
height: 160px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.dec-1 {
text-align: center;
}

.cont-2 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.dec-2 { 
margin-bottom: 35px;
}

.dec-2 {
width: 170;
height: 170px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.dec-2 {
text-align: center;
}

.cont-3 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.dec-3 { 
margin-bottom: 35px;
}

.dec-3 {
width: 160;
height: 160px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.dec-3 {
text-align: center;
}


.cont-4 {
display: flex;
justify-content: center;
margin-top: 135px;
}

.dec-4 { 
margin-bottom: 35px;
}

.dec-4 {
width: 200;
height: 200px;
border-radius: 50%;
margin-right: 25px;
background-color: hotpink;
padding: 25px; 
margin-top: 45px;  
}

.dec-4 {
text-align: center;
}


































 





  .conteiner-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

 
.conteiner-2 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}


.conteiner-3 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}











  .facebook {
      background: #3b5998;
      text-indent: -999cm;
      display: inline-block;
      width: 100px;
      height: 110px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      border: 15px solid #3b5988;
      border-bottom: 0;
  }

 .facebook::before {
     background: #3b5998;
     content: "/20";
     position: absolute;
     bottom: -30px;
     right: 40px;
     width: 40px;
     height: 90px;
     border-radius: 20px solid #eeee;
     border-radius: 25px;
 }

 .facebook::after {
     background: #eeee;
     content: "/20";
     position: absolute;
     top: 50px;
     right: 5px;
     width: 55;
     height: 20px;
 }



.conten-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
    background-color: hotpink ;
    padding: 25px; 
    margin-top: 45px;       
}

.conteiner-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

.conteiner-2 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.conteiner-3 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.cont-101 {
margin-top: 100px;
display: flex;
padding: 25px;
color: #fff;
justify-content: center;

}


body {
    text-align: center;
}

.text-1 {
      
    color: rgb(255, 255, 255);
    font-family:'Pacifico', cursive;
    font-size: 55px; 
    text-transform: 600;
    text-shadow: 2px 5px #000;
}

.img {
    display: flex;
    margin-bottom: 35px; 
    justify-content: center
}

.img {
   width: 170;
   height: 170px;
   border-radius: 50%;
   margin-left: 25px;

}

.img{
    text-align: center;
}

